.col-serial
{
width:60px;
}
.col-designation
{
width:200px;
}
.col-action
{
width:100px;
}
th.col-serial,
th.col-designation,
th.col-action
{
text-align:center;
}

td.col-serial
{
text-align:right;
}
td.col-designation
{
text-align:left;
}
td.col-action
{
text-align:center;
}